apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tooljet.fullname" . }}-postgrest
  labels:
    {{- include "tooljet.labels" . | nindent 4 }}
    app.kubernetes.io/component: tooljet-postgrest
    app.kubernetes.io/instance: tooljet-postgrest
    app.kubernetes.io/name: tooljet-postgrest
spec:
  replicas: {{ .Values.postgrest.replicaCount | default 1 }}
  selector:
    matchLabels:
      {{- include "tooljet.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: tooljet-postgrest
      app.kubernetes.io/instance: tooljet-postgrest
      app.kubernetes.io/name: tooljet-postgrest
  template:
    metadata:
      labels:
        {{- include "tooljet.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: tooljet-postgrest
        app.kubernetes.io/instance: tooljet-postgrest
        app.kubernetes.io/name: tooljet-postgrest
    spec:
      containers:
        - name: postgrest
          image: "{{ .Values.postgrest.image.repository }}:{{ .Values.postgrest.image.tag }}"
          imagePullPolicy: {{ .Values.postgrest.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.postgrest.containerPort }}
              protocol: TCP
          env:
            {{- if .Values.tooljetdb_external_postgresql.enabled }}
            - name: PGRST_DB_URI
              value: {{ .Values.tooljetdb_external_postgresql.PGRST_DB_URI }}
            - name: PGRST_DB_PRE_CONFIG
              value: postgrest.pre_config
            {{- else }}
            - name: PGRST_DB_PRE_CONFIG
              value: postgrest.pre_config
            - name: PGRST_DB_URI
              value: {{ .Values.env.PGRST_DB_URI }}
            {{- end }}
            - name: PGRST_DB_ANON_ROLE
              value: postgres
            - name: PGRST_JWT_SECRET
              value: {{ .Values.env.PGRST_JWT_SECRET }}
            - name: PGRST_LOG_LEVEL
              value: {{ .Values.postgrest.logLevel | default "info" | quote }}
            - name: PGRST_SERVER_PORT
              value: "3001"
          resources:
            {{- toYaml .Values.postgrest.resources | nindent 12 }}
      {{- with .Values.postgrest.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgrest.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgrest.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}